<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="A Simple Rest Api">
<meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
<meta name="keywords" content="Rest Api">
<meta name="author" content="IqbalzzX">
<title>Login - IqbalzzX</title>
<meta property="og:site_name" name="og:site_name" content="IqbalzzX - Rest Api">
<meta property="og:title" name="og:title" content="Login - IqbalzzX">
<meta property="og:url" name="og:url" content="https://iqbal-chan.herokuapp.com">
<meta property="og:image" name="og:image" content="https://i.pinimg.com/originals/a3/74/79/a37479805506c421457ef5e002762def.jpg"> <meta property="og:description" name="og:description" content="A Simple Rest Api">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
<link href="https://gitcdn.link/cdn/FckVanessa/Assets/main/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://gitcdn.link/cdn/FckVanessa/Assets/main/plugins/font-awesome/css/all.min.css" rel="stylesheet">
<link href="https://gitcdn.link/cdn/FckVanessa/Assets/main/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">
<link href="https://gitcdn.link/cdn/FckVanessa/Assets/main/plugins/apexcharts/apexcharts.css" rel="stylesheet">
<link href="https://gitcdn.link/cdn/FckVanessa/Assets/main/plugins/DataTables/datatables.min.css" rel="stylesheet">
<link href="https://gitcdn.link/cdn/FckVanessa/Assets/main/css/main.min.css" rel="stylesheet">
<link href="https://gitcdn.link/cdn/FckVanessa/Assets/main/css/custom.css" rel="stylesheet">
</head>
<body class="login-page">
<div class="container login-page no-loader">
<div class="row justify-content-md-center">
<div class="col-md-12 col-lg-4">
<div class="card login-box-container">
<div class="card-body">
<div class="authent-logo">
<img src="https://i.pinimg.com/originals/a3/74/79/a37479805506c421457ef5e002762def.jpg" alt="logo" height="80" class="rounded-circle hero-gambar" />
</div>
<div class="authent-text">
<h1>Login</h1>
</div>
<form method="POST" action="/docs">
<div class="mb-3">
<div class="form-floating">
<input id="username" name="username" type="text" class="form-control" id="floatingInput" placeholder="Username">
<label for="floatingInput">Username</label>
</div>
</div>
<div class="mb-3">
<div class="form-floating">
<input id="password" name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
<label for="floatingPassword">Password</label>
</div>
</div>
<div class="d-grid">
<button type="submit" class="btn btn-info m-b-xs">Masuk</button>
</div>
</form>
<div class="authent-reg">
<p>Belum punya akun? <a href="/users/register">Daftar</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
<center>
</center>
<script src="https://IqbalzzX.github.io/assets/js/MenuList.js" type="text/javascript" charset="utf-8"></script>
<script src="https://gitcdn.link/cdn/FckVanessa/Assets/main/plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="https://gitcdn.link/cdn/FckVanessa/Assets/main/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="https://gitcdn.link/cdn/FckVanessa/Assets/main/js/popper.min.js"></script>
<script src="https://gitcdn.link/cdn/FckVanessa/Assets/main/js/feather.min.js"></script>
<script src="https://gitcdn.link/cdn/FckVanessa/Assets/main/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
<script src="https://gitcdn.link/cdn/FckVanessa/Assets/main/plugins/DataTables/datatables.min.js"></script>
<script src="https://gitcdn.link/cdn/FckVanessa/Assets/main/plugins/apexcharts/apexcharts.min.js"></script>
<script src="https://gitcdn.link/cdn/FckVanessa/Assets/main/js/jquery.js"></script>
<script src="https://gitcdn.link/cdn/FckVanessa/Assets/main/js/form.js"></script>
<script src="https://gitcdn.link/cdn/FckVanessa/Assets/main/js/main.min.js"></script>
</body>
</html>
